.navbar{
    background-color: #212D37;
    border-bottom: 2px solid deepskyblue;
}
.navbar-brand{
    font-family: Old English Text MT;
    font-size: 15px;
}
.lib{
    width: 200px;
}
.libi{
    width: 100px;
}
.download{
    color: #0e1f5b;
    background-color: linear-gradient(to top, #fefcea, #f1da36);;
    transition: 0.3s;
}
.co{
    background-color: #F9F9F9;
}
.download:hover{
    color: white;
    background-color: dodgerblue;
}
.information{
    margin: 25px;
}
.format {
    height: 300px;
    background-color: #D8D8D8;
}

.s{
    display: flex;
}
.bottom{
    margin-bottom: 20px;
}
.marg{
    margin-top: 20px;
}
.dropdown-menu{
    width: 200px;
}
.header{
    margin: 20px;
}

.nav-item{
    margin-left: 15px;
}
.plate{
 margin-top: 20px;
}
.color-blue{
    color: blue;
}
.bg-dark-bl{
    background: linear-gradient(to right,#202C2C, #202C38, #202C44,#202C50);
}
.card-img-right{
    margin-left: 50px;
}
.cover{
    width: 250px;
}
.border-left-sm{
    border-left: 2px solid deepskyblue;
}

.part{
    margin: 20px;
}

.pa{
    text-indent: 0;
}
.card{
    width: 100%;
}
.h{
    color: darkblue;
}
.outline{
    color: blue;
}
.margines{
    padding-left: 50px;
    padding-bottom: 20px;
}
.m{
    margin-bottom: 20px;
}
.expand-lg{
    border-top: 2px solid lightgrey;

    max-height: 100%;
    padding: 10px;
    width: 100%;
    display: flex;
}
.h2{
    margin-top: 20px;
}
.infor{
    width: 100%;
}
.info{
    width: 100%;
    border-top: 1px solid lightskyblue;
}
.vid{
    margin: 15px;
    color: black;
}
.vid:hover{
    color: grey;
    text-decoration: none;
}
.translate{
    width: 20px;
    height: 20px;
}

.btn{
    border: none;
    background-color: #F8F9FA;
}
.a{
    color: black;
}
.a:hover{
    color: blue;
}
