.navbar{
    background-color: #212D37;
    border-bottom: 2px solid deepskyblue;
}
.navbar-brand{
    font-family: Old English Text MT;
    font-size: 15px;
}
.lib{
    width: 200px;
}
.libi{
    width: 100px;
}
.download{
    color: #0e1f5b;
    background-color: #D8D8D8;
}
.information{
    margin: 25px;
}
.download:hover{
    color: #018DED;
}
.format {
    height: 300px;
    background-color: #D8D8D8;
}

.info{
    margin-top: 10px;
}
.bottom{
    margin-bottom: 20px;
}
.marg{
    margin-top: 20px;
}
.dropdown-menu{
    width: 200px;
}
.header{
    margin: 20px;
}

.nav-item{
    margin-left: 15px;
}
.plate{
 margin-top: 20px;
}
.color-blue{
    color: blue;
}

.card-img-right{
    margin-left: 50px;
}
.cover{
    width: 250px;
}
.part{
    margin: 20px;
}
p{
    text-indent: 20px;
}
.card{
    width: 100%;
}
.h{
    color: #1a0dab;
}
.expand-lg{
    background-color: #E5E9ED;
    min-height: 200px;
    max-height: 100%;
    padding: 10px;
    width: 100%;
}
.h2{
    margin-top: 20px;
}
.infor{
    width: 100%;
    min-height: 250px;
}
.info{
    width: 100%;
    min-height: 300px;

    border-top: 1px solid lightgrey;
}
.vid{
    margin: 15px;
    color: black;
}
.vid:hover{
    color: grey;
    text-decoration: none;
}
.translate{
    width: 20px;
    height: 20px;
}
.btn{
    border: none;
    background-color: #F8F9FA;
}
.a{
    color: black;
}
.a:hover{
    color: grey;
}
